.carousel-primeiro{
    background-image: url('../../image/carousel/SLIDE-01-WEB.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
}
.carousel-primeiro .carousel-primeiro-topo{
    display: grid; grid-template-columns: 80% 20%;
}
.carousel-primeiro .carousel-primeiro-topo .carousel-primeiro-topo-titulo{
    color: #FFFFFF;
    font-size: 55px;
    margin-left: 70px;
    margin-top: 125px;
    margin-bottom: 40px;
}
.carousel-primeiro .carousel-primeiro-corpo{
    display: grid; grid-template-columns: 57% 33% 10%;
    align-items: center;
}
.carousel-primeiro .carousel-primeiro-corpo .carousel-primeiro-corpo-paragrafo{
    color: #FFFFFF; font-size: 34px;
    margin-left: 70px; font-weight: 500;
}
.carousel-primeiro .carousel-primeiro-corpo .carousel-primeiro-corpo-botao{
    text-align: center;
}
.carousel-primeiro .carousel-primeiro-corpo .carousel-primeiro-corpo-botao button{
    background-color: transparent; border: none; color: #FFFFFF;
    border-radius: 50px;
    font-size: 55px;
    margin-left: 0px; cursor: pointer;
}
.carousel-primeiro .carousel-primeiro-rodape{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.carousel-primeiro-rodape .carousel-primeiro-rodape-botao{
    margin-top: 35px; text-align: center;
}
.carousel-primeiro-rodape .carousel-primeiro-rodape-botao button{
    background-color: #303030; color: #FFFFFF; border: none;
    font-size: 38px; border-radius: 15px;
    padding: 8px 0px 8px 0px; text-transform: uppercase;
    cursor: pointer; width: 35%;
}

.carousel-primeiro .carousel-primeiro-rodape-texto{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.carousel-primeiro .carousel-primeiro-rodape-texto .carousel-primeiro-rodape-texto-paragrafo{
    margin-bottom: 40px; margin-top: 20px;
}
.carousel-primeiro .carousel-primeiro-rodape-texto .carousel-primeiro-rodape-texto-paragrafo h1{
    color: #FFFFFF;
    font-size: 40px; text-align: center;
    padding: 40px 0px;
}



@media(max-width:860px){
    .carousel-primeiro .carousel-primeiro-topo .carousel-primeiro-topo-titulo{
        font-size: 60px;
        margin-left: 70px;
    }
    .carousel-primeiro .carousel-primeiro-corpo .carousel-primeiro-corpo-paragrafo{
        font-size: 40px;
        margin-left: 70px;
    }
}

@media(max-width:706px){
    .carousel-primeiro .carousel-primeiro-topo .carousel-primeiro-topo-titulo{
        font-size: 50px;
        margin-left: 40px;
    }
    .carousel-primeiro .carousel-primeiro-corpo .carousel-primeiro-corpo-paragrafo{
        font-size: 40px;
        margin-left: 40px;
    }
    .carousel-primeiro .carousel-primeiro-corpo{
        display: grid; grid-template-columns: 70% 20% 10%;
        align-items: center;
    }
}

@media(max-width:538px){
    .carousel-primeiro{
        background-image: url('../../image/carousel/SLIDE-01-MOBILE.png');
        background-repeat: no-repeat;
        background-size: cover;
        height: 640px;
    }
    .carousel-primeiro .carousel-primeiro-topo .carousel-primeiro-topo-titulo{
        font-size: 40px;
        margin-left: 5px;
    }
    .carousel-primeiro .carousel-primeiro-corpo .carousel-primeiro-corpo-paragrafo{
        font-size: 30px;
        margin-left: 5px;
    }
    .carousel-primeiro .carousel-primeiro-corpo{
        display: grid; grid-template-columns: 70% 20% 10%;
        align-items: center;
    }
}

@media(max-width:480px){
    .carousel-primeiro .carousel-primeiro-corpo{
        display: grid; grid-template-columns: 70% 10% 20%;
        align-items: center;
    }
    .carousel-primeiro .carousel-primeiro-topo .carousel-primeiro-topo-titulo{
        font-size: 30px;
        margin-left: 10px;
        margin-top: 50px;
        margin-bottom: 0px;
    }
    .carousel-primeiro .carousel-primeiro-corpo .carousel-primeiro-corpo-paragrafo{
        font-size: 18px;
        margin-left: 10px;
        margin-top: 20px;
    }
    .carousel-primeiro .carousel-primeiro-rodape-texto .carousel-primeiro-rodape-texto-paragrafo h1{
        margin-bottom: 40px;
        margin-top: 10px;
        font-size: 25px;
        padding: 0px;
    }
}

@media(max-width:380px){
    .carousel-primeiro .carousel-primeiro-topo .carousel-primeiro-topo-titulo{
        font-size: 25px;
        margin-left: 10px;
    }
    .carousel-primeiro .carousel-primeiro-corpo .carousel-primeiro-corpo-paragrafo{
        font-size: 18px;
        margin-left: 32px;
    }
    .carousel-primeiro .carousel-primeiro-rodape-texto .carousel-primeiro-rodape-texto-paragrafo h1{
        font-size: 25px;
        padding: 0px 0px;
    }

    .carousel-primeiro .carousel-primeiro-topo .carousel-primeiro-topo-titulo{
        /* padding-left: 20px; */
        font-size: 26px;
        margin-top: 45px;
        
        margin-bottom: 0px;
    }
    
}

@media(max-width:1114px){
    .carousel-primeiro-rodape .carousel-primeiro-rodape-botao button{
        width: 40%;
    }
}

@media(max-width:785px){
     .carousel-primeiro-rodape .carousel-primeiro-rodape-botao button{
        width: 60%;
    }
}
@media(max-width:710px){
     .carousel-primeiro-rodape .carousel-primeiro-rodape-botao button{
        font-size: 35px;
    }
}

@media(max-width:670px){
    .carousel-primeiro-rodape .carousel-primeiro-rodape-botao button{
        width: 75%;
    }
}

@media(max-width:537px){
    .carousel-primeiro-rodape .carousel-primeiro-rodape-botao button{
        font-size: 30px;
    }
}

@media(max-width:467px){
     .carousel-primeiro-rodape .carousel-primeiro-rodape-botao button{
        width: 85%;
    }
}

@media(max-width:425px){
    .carousel-primeiro-rodape .carousel-primeiro-rodape-botao button{
        font-size: 25px; width: 80%;
    }
}

@media(max-width:376px){
    .carousel-primeiro-rodape .carousel-primeiro-rodape-botao button{
        font-size: 25px; width: 80%;
    }
}

@media(max-width:334px){
    .carousel-primeiro-rodape .carousel-primeiro-rodape-botao button{
        font-size: 20px; width: 80%;
    }
}
