
li {
	list-style: none
}
ul {
	margin-bottom: 0
}


.tour__gallery {
    margin: 20px auto;
    width: 100%;
  	overflow: hidden;
  	position: relative;
}
.picture__slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
  width: 500%;
}
.carousel__image {
  list-style: none;
  flex-shrink: 0;
  flex-basis: 20%;
  height: 100%;
  padding-bottom: 0;
  background-color: #f6f6f6;
}

.controls .btn--next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent; border: none; color: #FFFFFF;
  border-radius: 40px;
  font-size: 55px;
  margin-left: 0px; cursor: pointer;
}
.controls .btn--prev {
  margin-top: 0;
  padding:10px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  color: #fbf9f9;
  font-size: 24px;
  background-color: transparent; border: none; color: #FFFFFF;
  border-radius: 50px;
  font-size: 55px;
  margin-left: 0px; cursor: pointer;
}
.is-hidden {
	display: none;
}




@media(max-width:498px){
  .controls .btn--prev, .controls .btn--next{
    font-size: 30px;
  }
}

@media(max-width:400px){
  .controls .btn--prev, .controls .btn--next{
    font-size: 25px;
  }
}