/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Oswald:wght@200&family=Poppins:wght@700&family=Rubik&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
body{
    background-color: #F6F6F6;  font-family: "Poppins", sans-serif;
}
main{
    /* Modelo Teste */
    max-width: 1100px; margin: 0 auto; 
}
section{
  /* Testagem do scroll*/
  margin-bottom: 100px;
}
section .titulo{
    font-size: 45px;
    color: #E7585A;
    margin: 10px;
    text-align: center;
}
section .cards{
    display: flex; flex-wrap: wrap; 
}
section .cards > div{
    flex: 1 1 100px;
}
section .cards .card{
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    text-align: center;
    margin: 20px 80px 20px 80px; 
}

section .cards .card{
    width: 100%;
}

section .cards .card h2{
    text-align: center; margin-top: 10px;
    color: #000000; font-weight: normal;
    font-size: 25px;
}
section .cards .card p{
    margin-top: 10px; margin-bottom: 30px; color: #767676;
    text-align: left; font-size: 20px;
}
section .cards .card h2, p{
    font-family: "Rubik", sans-serif;
}
section .cards .card button{
    background-color: #E7585A; border: none; color: #FFFFFF;
    font-size: 25px; font-weight: bold; text-transform: uppercase;
    padding: 10px 20px 10px 20px; cursor: pointer;
    border-radius: 15px;
}
section .cards .card .botao{
    text-align: center;
}

section .cards .card .botao button a{
  text-decoration: none; color: #FFFFFF;
}

/* Seção 2 */

.img2{
    width: 200%;
    float: right;
}

#contanier{
    height: 100%;
    /* position:relative; */
}

#contanier #img2{
    width: 100%;
} 

div{
    /* background: red; */
    overflow: hidden;
    padding: 30px;  
    /* position: relative; */
    /* width: 100%; */
}

.p{
    float: left;
}

.img2 p{
    display: inline-block;
}

#titulo2{
    font-style: normal;
    font-weight: bold;
    font-size: 75.58px;
    line-height: 113px;
    text-align: center;
    color: #0F4C81;
}

.retangule{
    /* border-style: solid;
    color: #0F4C81;
    border-bottom-width: 20px;
    border-top-width: 0px;
    border-right-width: 20px;
    border-left-width: 20px;  
    border: 10px solid;
    border-image: linear-gradient(0deg,#0F4C81, #F6F6F6 100%)1;*/
    width: 472px;
    height: 576px;
    left: 911px;
    top: 1355px; 

    /* background: #0F4C81;  */
    box-shadow: 0px 50px 5px 12px #0F4C81;
}


/* Modelo Teste de responsividade */

@media(max-width:600px){
    section .titulo{
        font-size: 20px; text-align: center;
    }
    section .cards .card{
        margin: 20px 20px 20px 20px;
    }
}

@media(max-width:1024px){
    section .cards .card{
        margin: 20px 20px 20px 20px;
    }
}

