/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Oswald:wght@200&family=Poppins:wght@700&family=Rubik&display=swap");

html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

body {
  background-color: #f6f6f6;
}

/* Seção 1 - home */

a {
  text-decoration: none;
  color: #ffffff;
}
button {
  border: none;
}

#logo {
  width: 230px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 25px;
}

nav ul {
  justify-content: space-between;
}

nav ul li {
  color: #ffffff;
  display: inline;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0.5rem;
  font-size: 25px;
  padding: 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}

#secao-1-main {
  display: flex;
  padding: 30px;
  overflow: hidden;
}

#secao-1-text-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 51px;
  line-height: 75px;
  margin: 50px 0;
}

#secao-1-text {
  color: #ffffff;
  margin-top: 52px;
  font-size: 30px;
}

#secao-1-arte {
  width: 60%;
  padding-top: 1.4rem;
}

#saiba-como {
  background: #e7585a;
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  padding: 0px 25px;
  max-width: fit-content;
  border-radius: 20px;
  cursor: pointer;
  letter-spacing: 0.1em;
  line-height: 75px;
  display: inline-block;
  margin-top: 80px;
}

.fas {
  display: contents !important;
}
.hidden {
  display: none;
}

/* Seção 2 - O que é a soul sisters*/

.img2 {
  width: 200%;
  float: right;
}
#contanier-div {
  max-width: 1100px;
  margin: auto;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  margin-top: 50px;
  /* position:relative; */
}

.texto-sobre {
  font-size: 26px;
  margin-top: 35px;
}

h3 {
  font-size: 40px;
}

.text-rose {
  color: #e7585a;
}

.text-blue {
  color: #0f4c81;
}

.img2 p {
  display: inline-block;
}

#titulo2 {
  font-style: normal;
  font-weight: bold;
  font-size: 75.58px;
  line-height: 113px;
  text-align: center;
  color: #0f4c81;
}

.retangule {
  width: 428px;
  height: 521px;
  left: 911px;
  top: 1355px;
  border-radius: 45px;
  box-shadow: -10px 10px 0px 0px #0f4c81;
  margin: 0 50px;
}

/* Seção 4  - cards */
section .titulo {
  font-size: 45px;
  color: #0f4c81;
  margin-bottom: 20px;
  text-align: center;
}
section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}
section .cards > div {
  flex: 1 1 100px;
}
section .cards .card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  margin: 0px 20px 0px 20px;
}

section .cards .card {
  width: 100%;
}

section .cards .card h2 {
  text-align: center;
  margin-top: 10px;
  color: #000000;
  font-weight: normal;
  font-size: 21px;
  margin-bottom: 15px;
}
section .cards .card p {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #767676;
  text-align: left;
  font-size: 20px;
}

section .cards .card button {
  background-color: #e7585a;
  border: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}
section .cards .card .botao {
  text-align: center;
}

section .cards .card .botao button a {
  text-decoration: none;
  color: #ffffff;
}

/* Botão retorno pra home */
.home-page-btn {
  background-color: #000000;
  width: fit-content;
  position: fixed;
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  cursor: pointer;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 30px;
}

/* Footer */

#contato{
  display: flex;
  align-items: flex-end;
}


.box-contato{
  display: flex;
  flex-direction: column;
  font-size: 32px;
  margin-left: 50px;
}
.texto-contato{
  font-size: 32px;
  padding-left: 8px;
  color: #0f4c81;
}

.logo-footer{
  width: 100px;
  margin-left: 275px;
}

.logo-redes{
  width: 50px;
}

/* Modal doações */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;

  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-titulo {
  font-size: 30px;
  width: 515px;
}
.modal-texto-pergunta {
  font-size: 24px;
}

.texto-orientacao {
  font-size: 14px;
  width: 265px;
}

.modal-valores {
  display: flex;
  margin-top: 10px;
}

.box-valor-doação {
  width: fit-content;
  margin-right: 5px;
}

.modal-content {
  display: flex;
}

.estilo-doação {
  width: fit-content;
  background-color: #e7585a;
  padding: 8px;
  border-radius: 15px;
  color: #f6f6f6;
  margin-top: 8px;
  cursor: pointer;
}

.qr-code {
  width: 180px;
  border-radius: 15px;
  box-shadow: 0px 40px #e7585a;
  margin-left: 30px;
  margin-top: 10px;
}
.box-qr {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-qr {
  width: fit-content;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 12px;
  background-color: #0f4c81;
  color: #f6f6f6;
  margin: 5px 0;
  margin-left: 30px;
  cursor: pointer;
}

.modal-aviso {
  font-size: 12px;
  margin-top: 25px;
}

.fa-exclamation-circle {
  font-size: 16px;
  color: #e7585a;
}

.fas {
  display: inline !important;
}
.x-icon {
  color: #f6f6f6;
  font-size: 30px;
  position: absolute;
  top: 5%;
  left: 92%;
  cursor: pointer;
}




/* Modelo Teste de responsividade */




@media (max-width: 1980px) {
  #secao-1 {
    background-image: url("../image/headder-background.png");
    background-repeat: no-repeat;
    height: 1380px;
    background-size: cover;
    padding: 30px;
  }

  #secao-1-content {
    width: 30%;
  }
  nav ul {
    padding-left: 60rem;
  }

  .box-direitos {
    padding-left: 90px;
  }
  .logo-footer {
    margin-left: 365px;
  }
}

@media (max-width: 1440px) {
  #secao-1 {
    background-image: url("../image/headder-background.png");
    width: 100%;
    height: 1000px;
    padding: 30px;
  }
  #secao-1-content {
    width: 55%;
  }
  nav ul {
    padding-left: 25rem;
  }

  section .cards .card {
    margin: 20px 20px 20px 20px;
  }
  .box-direitos {
    padding-left: 0px;
  }
  .logo-footer {
    margin-left: 275px;
  }
}

@media (max-width: 1080px) {
  #secao-1 {
    background-size: contain;
    height: 715px;
  }
  nav ul {
    padding-left: 2rem;
  }

  #secao-1-text-header {
    font-size: 48px;
    line-height: 60px;
    margin: 0;
  }
  #secao-1-text {
    font-size: 28px;
    margin-top: 20px;
  }

  #saiba-como {
    margin-top: 30px;
  }
  #conatanier-div {
    margin-top: 0px;
    height: 800px;
  }

  .retangule {
    width: 38%;
    height: 470px;
  }

  .logo-footer {
    margin-left: 95px;
  }
}

@media (max-width: 884px) {
  nav {
    display: flex;
    justify-content: flex-start;
    margin-left: 0px;
  }

  #secao-1 {
    background-image: url("../image/headder-background.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px 0px;
    height: 540px;
  }

  #secao-1-content {
    width: 65%;
  }

  #secao-1-text-header {
    font-size: 38px;
    line-height: 40px;
    margin: 0px;
    margin-top: -15px;
  }

  #secao-1-text {
    font-size: 24px;
    margin-top: 10px;
    padding-right: 90px;
  }

  #logo {
    width: 115px;
    margin-left: 25px;
  }

  #titulo2 {
    font-size: 58px;
    line-height: 20px;
  }
  .texto-sobre {
    text-align: center;
  }
  h3 {
    margin: 25px 0px 25px 125px;
  }

  #saiba-como {
    font-size: 20px;
    padding: 0px 20px;
    line-height: 50px;
    border-radius: 15px;
    margin-left: 70px;
    margin-top: 50px;
  }
  .retangule {
    display: none;
  }

  .navbar {
    margin-left: 20px;
  }
  nav ul li {
    font-size: 20px;
  }

  section .titulo {
    text-align: center;
  }
  section .cards > div {
    flex: 1 1 250px;
  }
}

@media (max-width: 440px) {
  #secao-1 {
    background-image: url("../image/IMAGE-HOME-DEGRADE-NOTEXT-MOBILE.png");
    padding: 30px 0px 0px;
    height: 460px;
  }
  #secao-1-text-header {
    font-size: 28px;
    padding-right: 50px;
  }

  #secao-1-text {
    font-size: 18px;
    margin-top: 10px;
    padding-right: 90px;
  }

  #secao-1-main {
    padding: 30px 15px 0px 25px;
  }

  #secao-1-content {
    width: 90%;
  }
  #saiba-como {
    font-size: 20px;
    padding: 0px 20px;
    line-height: 50px;
    border-radius: 15px;
    margin-left: 75px;
    margin-top: 20px;
  }

  p {
    margin-top: 10px;
  }
  #titulo2 {
    font-size: 25px;
    line-height: 70px;
  }

  #contanier-div {
    margin-top: 30px;
    padding: 0 30px;
  }
  h3 {
    font-size: 26px;
    margin: 25px 0px 25px 20px;
  }
  .texto-sobre {
    margin-top: 0px;
    font-size: 18px;
    text-align: center;
  }

  .retangule {
    display: none;
  }
  .home-page-btn {
    display: none;
  }
  .navbar {
    display: none;
  }

  #contato {
    flex-direction: column;
  }

  .texto-contato {
    text-align: center;
  }

  .box-contato {
    order: 0;
  }
  .box-logos {
    margin-left: 90px;
  }

  .box-logo-soul {
    order: 1;
  }
  .box-direitos {
    order: 2;
    font-size: 14px;
    text-align: center;
  }
  .logo-footer {
    margin-left: 150px;
  }

  .modal {
    width: 80%;
    padding: 20px;
  }

  .modal-titulo {
    font-size: 19px;
    width: 245px;
  }

  .modal-texto-pergunta {
    font-size: 18px;
  }

  .modal-content {
    flex-direction: column;
  }
  .texto-orientacao {
    font-size: 14px;
    width: 245px;
  }

  .box-qr {
    align-items: flex-start;
  }
  .qr-code {
    display: none;
  }

  .button-qr {
    margin: 10px 0px 0;
  }

  .x-icon {
    left: 85%;
  }
}

@media (max-width: 380px) {
  #secao-1-content {
    width: 100%;
  }
  #secao-1-text-header {
    font-size: 27px;
  }
  #secao-1-text {
    font-size: 17px;
    padding-right: 80px;
  }
  h3 {
    font-size: 24px;
  }
  #saiba-como {
    font-size: 20px;
    padding: 0px 20px;
    line-height: 50px;
    border-radius: 15px;
    margin-left: 55px;
    margin-top: 20px;
  }
  #contanier-div {
    margin-top: 0px;
  }

  .box-logos {
    margin-left: 70px;
  }
  .logo-footer {
    margin-left: 130px;
  }
  .box-direitos {
    font-size: 13px;
  }

  section .cards .card button {
    padding: 10px;
  }
}
