/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Oswald:wght@200&family=Poppins:wght@700&family=Rubik&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
}
body{
    background-color: #F6F6F6;  font-family: "Poppins", sans-serif;
}
main{
    /* Modelo Teste */
    max-width: 1100px; margin: 0 auto; 
}
section{
  /* Testagem do scroll*/
  margin-bottom: 100px;
}
section .titulo{
    font-size: 45px;
    color: #E7585A;
    margin: 10px;
}
section .cards{
    display: flex; flex-wrap: wrap; 
}
section .cards > div{
    flex: 1 1 100px;
}
section .cards .card{
    background-color: #FFFFFF;
    padding: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 15px;
    text-align: center;
    margin: 20px 80px 20px 80px; 
}

section .cards .card img{
    width: 100%;
}

section .cards .card h2{
    text-align: center; margin-top: 10px;
    color: #000000; font-weight: normal;
    font-size: 25px;
}
section .cards .card p{
    margin-top: 10px; margin-bottom: 30px; color: #767676;
    text-align: left; font-size: 20px;
}
section .cards .card h2, p{
    font-family: "Rubik", sans-serif;
}
section .cards .card button{
    background-color: #E7585A; border: none; color: #FFFFFF;
    font-size: 25px; font-weight: bold; text-transform: uppercase;
    padding: 10px 20px 10px 20px; cursor: pointer;
    border-radius: 15px;
}
section .cards .card .botao{
    text-align: center;
}

section .cards .card .botao button a{
  text-decoration: none; color: #FFFFFF;
}

/* Modelo Teste de responsividade */

@media(max-width:600px){
    section .titulo{
        font-size: 20px; text-align: center;
    }
    section .cards .card{
        margin: 20px 20px 20px 20px;
    }
}

@media(max-width:1024px){
    section .cards .card{
        margin: 20px 20px 20px 20px;
    }
}

