/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Oswald:wght@200&family=Poppins:wght@700&family=Rubik&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

body {
  background-color: #f6f6f6;
  font-family: "Poppins", sans-serif;
}
section .titulo {
  font-size: 45px;
  color: #0F4C81;
  margin-bottom: 20px;
  text-align: center;
}
section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}
section .cards > div {
  flex: 1 1 100px;
}
section .cards .card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  margin: 0px 20px 0px 20px;
}

section .cards .card {
  width: 100%;
}

section .cards .card h2 {
  text-align: center;
  margin-top: 10px;
  color: #000000;
  font-weight: normal;
  font-size: 21px;
  margin-bottom: 15px;
}
section .cards .card p {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #767676;
  text-align: left;
  font-size: 20px;
}
section .cards .card h2,
p {
  font-family: "Rubik", sans-serif;
}
section .cards .card button {
  background-color: #e7585a;
  border: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}
section .cards .card .botao {
  text-align: center;
}

section .cards .card .botao button a {
  text-decoration: none;
  color: #ffffff;
}

/* Seção 1 */

#secao-1 {
  background: #e7585a;
  margin: 0;
  width: 100%;
  padding: 30px;
}

#logo {
  width: 285px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  padding-left: 18rem;
  justify-content: space-between;
}

nav ul li {
  color: #ffffff;
  display: inline;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0.5rem;
  font-size: 31px;
  padding: 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}

#secao-1-main {
  display: flex;
  padding: 30px;
  overflow: hidden;
}

#secao-1-text-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 75.58px;
  line-height: 113px;
}

#secao-1-text {
  color: #ffffff;
  font-weight: 600;
  font-size: 42.63px;
  line-height: 64px;
}

#secao-1-arte {
  width: 60%;
  padding-top: 1.4rem;
}

#saiba-como {
  background: #0f4c81;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  padding: 0px 20px;
  max-width: fit-content;
  border-radius: 10px;
  cursor: pointer;
  letter-spacing: 0.005em;
  line-height: 75px;
  display: inline-block;
}

.fas {
  display: contents !important;
}



/* Seção 2 */

.img2 {
  width: 200%;
  float: right;
}
#contanier-div {
  max-width: 1100px;
  margin: auto;
  height: 100%;
  overflow: hidden;
  padding: 30px
  /* position:relative; */
}

.p {
  float: left;
}

.img2 p {
  display: inline-block;
}

#titulo2 {
  font-style: normal;
  font-weight: bold;
  font-size: 75.58px;
  line-height: 113px;
  text-align: center;
  color: #0f4c81;
}

.retangule {
  /* border-style: solid;
    color: #0F4C81;
    border-bottom-width: 20px;
    border-top-width: 0px;
    border-right-width: 20px;
    border-left-width: 20px;  
    border: 10px solid;
    border-image: linear-gradient(0deg,#0F4C81, #F6F6F6 100%)1;*/
  width: 472px;
  height: 576px;
  left: 911px;
  top: 1355px;
  
  /* background: #0F4C81;  */
  box-shadow:  -1em 1em 0em 0em #0f4c81;
  margin: 0 50px;
}



/* Modelo Teste de responsividade */
@media (max-width: 1440px) {
  section .cards .card {
    margin: 20px 20px 20px 20px;
  }

  #titulo2{
    font-size: 25px;
  }
}

@media (max-width: 884px) {
  section .titulo {
    text-align: center;
  }
  section .cards > div {
    flex: 1 1 250px;
  }
}