/* Fontes */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&family=Oswald:wght@200&family=Poppins:wght@700&family=Rubik&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

body {
  background-color: #f6f6f6;
}

/* Seção 1 - home */

#secao-1 {
  background-image: url("../image/headder-background.png");
  width: 100%;
  height: 1000px;
  padding: 30px;
  
}

#logo {
  width: 230px;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 25px;
}

nav ul {
  padding-left: 25rem;
  justify-content: space-between;
}

nav ul li {
  color: #ffffff;
  display: inline;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0.5rem;
  font-size: 25px;
  padding: 10px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  list-style-type: none;
}
#secao-1-content{
  width: 55%;
}

#secao-1-main {
  display: flex;
  padding: 30px;
  overflow: hidden;
}

#secao-1-text-header {
  color: #ffffff;
  font-weight: bold;
  font-size: 51px;
  line-height: 75px;
  margin: 50px 0;
  
}

#secao-1-text {
  color: #ffffff;
  margin-top: 52px;
  font-size: 30px;
  
}

#secao-1-arte {
  width: 60%;
  padding-top: 1.4rem;
}

#saiba-como {
  background: #E7585A;
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  padding: 0px 25px;
  max-width: fit-content;
  border-radius: 20px;
  cursor: pointer;
  letter-spacing: 0.1em;
  line-height: 75px;
  display: inline-block;
  margin-top: 80px;
}

.fas {
  display: contents !important;
}
.hidden{
  display: none;
}

/* Seção 2 - O que é a soul sisters*/

.img2 {
  width: 200%;
  float: right;
}
#contanier-div {
  max-width: 1100px;
  margin: auto;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  margin-top: 50px;
  /* position:relative; */
}

.p {
  float: left;
}

.img2 p {
  display: inline-block;
}

#titulo2 {
  font-style: normal;
  font-weight: bold;
  font-size: 75.58px;
  line-height: 113px;
  text-align: center;
  color: #0f4c81;
}

.retangule {
  /* border-style: solid;
    color: #0F4C81;
    border-bottom-width: 20px;
    border-top-width: 0px;
    border-right-width: 20px;
    border-left-width: 20px;  
    border: 10px solid;
    border-image: linear-gradient(0deg,#0F4C81, #F6F6F6 100%)1;*/
  width: 472px;
  height: 576px;
  left: 911px;
  top: 1355px;

  /* background: #0F4C81;  */
  box-shadow: -1em 1em 0em 0em #0f4c81;
  margin: 0 50px;
}

/* Seção 4  - cards */
section .titulo {
  font-size: 45px;
  color: #0f4c81;
  margin-bottom: 20px;
  text-align: center;
}
section .cards {
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: auto;
}
section .cards > div {
  flex: 1 1 100px;
}
section .cards .card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  margin: 0px 20px 0px 20px;
}

section .cards .card {
  width: 100%;
}

section .cards .card h2 {
  text-align: center;
  margin-top: 10px;
  color: #000000;
  font-weight: normal;
  font-size: 21px;
  margin-bottom: 15px;
}
section .cards .card p {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #767676;
  text-align: left;
  font-size: 20px;
}

section .cards .card button {
  background-color: #e7585a;
  border: none;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border-radius: 15px;
}
section .cards .card .botao {
  text-align: center;
}

section .cards .card .botao button a {
  text-decoration: none;
  color: #ffffff;
}

/* Modelo Teste de responsividade */
@media (max-width: 1440px) {
  section .cards .card {
    margin: 20px 20px 20px 20px;
  }
}

@media (max-width: 884px) {
  nav{
    display: flex;
    justify-content: flex-start;
  }
  #secao-1{
    background-image: url("../image/IMAGE-HOME-DEGRADE-NOTEXT-MOBILE.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 30px 0px;
  }

  #secao-1-content{
    width: 80%;
    
  }

  #secao-1-text-header{
    font-size: 25px;
    line-height: 40px;
    margin: 0px;
  }

  #secao-1-text{
    font-size: 18px;
    margin-top: 20px;
  }

  #logo{
    width: 115px;
  }

  #saiba-como{
    font-size: 20px;
    padding: 0px 20px;
    line-height: 50px;
    border-radius: 15px;
    margin-left: 70px;
  }
  
  
  .navbar{
    display: none;
  }
  section .titulo {
    text-align: center;
  }
  section .cards > div {
    flex: 1 1 250px;
  }
}

@media (max-width: 440px) {
  p {
    margin-top: 10px;
  }
  #titulo2 {
    font-size: 25px;
  }

  .retangule {
    margin-bottom: 30px;
  }
}
